body {
    background-color: black;
    width: 100vw;
    height: 100vh;
    margin: 0%;
}

.screen {
    /* width: 60%; */
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    image-rendering: pixelated;
    border-width: 0px;
    /* background-color: white; */
}

#fps-counter {
    position: absolute;
    right: 0%;
    top: 0%;
    color: white;
}

#hover-data {
    color: white;
    position: absolute;
    right: 0%;
    bottom: 0%;
}